.wrapper
  = render 'shared/side_bar'
  .light-content
    .light-header
      .current-group
        %h2.current-group__name  
          = current_user.name
        %ul.current-group__list  
          
          %li.current-group__member  
            Member:
            - @group.users.each do |member|
              = member.name
      .light-header__edit-btn 
        = link_to'EDIT', edit_group_path(@group)
    .messages
      = render @messages
    .form
      %form
        %input.form__message
        .form__box
          %label.form__box__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}