.wrapper
  = render 'shared/side_bar'
  .light-content
    .light-header
      .current-group
        %h2.current-group__name  
          = current_user.name
        %ul.current-group__list  
          Member:
          %li.current-group__member  
          a
      .light-header__edit-btn 
        Edit

    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'